<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.grocerie">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_toastface"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragmentVersion.IngredientPositionEditor"
            android:parentActivityName=".fragmentVersion.MainIngredientListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fragmentVersion.MainIngredientListActivity" />
        </activity>
        <activity android:name=".deprecated.MainShoppingArrayListActivity" />
        <activity android:name=".deprecated.MainIngredientArrayListActivity" />
        <activity android:name=".fragmentVersion.MainShoppingListActivity" />
        <activity android:name=".fragmentVersion.MainIngredientListActivity" />
        <activity android:name=".deprecated.ShoppingListRecycler" />
        <activity
            android:name=".deprecated.IngredientsListRecycler"
            android:parentActivityName=".HomePage" />

        <activity android:name=".deprecated.ShoppingList" />
        <activity android:name=".deprecated.IngredientsList" />
        <activity
            android:name=".IngredientEditor"
            android:parentActivityName=".deprecated.IngredientsListRecycler" />

        <provider
            android:name=".data.IngredientProvider"
            android:authorities="com.example.android.grocerie"
            android:exported="false" />
    </application>

</manifest>